<form action="/products/keyword">
  <input type="text" name="keyword" placeholder="Search...">
  <button>Search Products</button>
</form>

<%= @products.each do |product| %>
  <p>
    <%= product.name %> - $<%= product.price %></br>
    <%= product.quantity %> in stock
  </p>
<% end %>
